.container {
	display: flex;
	flex-direction: column;
	place-content: center;
	padding: 15px;
}

.header {
	margin-bottom: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	place-content: center;
}

.button {
	height: 45px;
	border: 2px solid transparent;
	outline: none;
	padding: 0px 7px;
	border-radius: 6px;
	font-size: 15px;
	background-color: transparent;
}

:global(.dark) .button {
	color: var(--text-light);
	box-shadow: 3px 3px 10px var(--color-shadow-dark1),
		-1px -1px 6px var(--color-shadow-dark2);
}

:global(.light) .button {
	color: var(--text-dark);
	box-shadow: 3px 3px 10px var(--color-shadow-light1),
		-1px -1px 6px var(--color-shadow-light2);
}

:global(.dark) .button:hover,
:global(.dark) .button:focus {
	box-shadow: 3px 3px 10px var(--color-shadow-dark1),
		-1px -1px 3px var(--color-shadow-dark2);
}

:global(.light) .button:hover,
:global(.light) .button:focus {
	box-shadow: 3px 3px 10px var(--color-shadow-light1),
		-1px -1px 3px var(--color-shadow-light2);
}

:global(.dark) .button:active {
	box-shadow: inset 3px 3px 10px var(--color-shadow-dark1),
		inset -3px -3px 6px var(--color-shadow-dark2);
}

:global(.light) .button:active {
	box-shadow: inset 3px 3px 10px var(--color-shadow-light1),
		inset -3px -3px 6px var(--color-shadow-light2);
}
