@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--border-radius: 15px;
	--bgr-main-dark: #212121;
	--bgr-main-light: #e9e9e9;
	--text-dark: #212121;
	--text-light: #fff;
	--color-shadow-dark1: #000;
	--color-shadow-dark2: #ffffff66;
	--color-shadow-light1: #c5c5c5;
	--color-shadow-light2: #fff;
	--color-green: #15ee01;
}

html{
	background: #212121;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
	transition: background-color 0.3s ease;
}

body.light {
	background: var(--bgr-main-light);
	color: var(--text-dark);
}

body.dark {
	background: var(--bgr-main-dark);
	color: var(--text-light);
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

button {
	cursor: pointer;
	font-weight: 700;
}